h1{
    font-family: "Barriecito", system-ui;
    text-align: center;
    font-size: 3em;
    color: rgb(146, 210, 245);
}

nav {
    background: rgb(203, 161, 235);
    height: 100px;
    width: 120px;  
}