.navbar {
    /*background: linear-gradient(to bottom, #3f1754, #663b85);*/
    background: #3f1754;
    font-family: "Patrick Hand", cursive;
    font-size: 22px;
    font-weight: 600;
    /*height: 100px;
    width: 120px; */
}

.navlinks a{
    
    font-family: "Patrick Hand", cursive;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color:#5f75d1;
    
}

body {
    background: #160649;
}

h1{
    font-family: "Indie Flower", cursive;
    font-size: 30px;
    color: #5f75d1;
}

h2{
    font-family: "Quicksand", sans-serif;

    font-size: 2.5rem;
    font-weight: 700;
    color: #aeeaff;
}

.tester {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #92d2f5;
}

/*This is for the links underneath tester*/
.tester a{
    text-decoration: none;
    font-family: "Patrick Hand", cursive;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #5f75d1;
}

/*this is the styling for the footer*/
.ftr{
    background: #5f75d1;
    font-family: "Patrick Hand", cursive;
    font-size: 22px;
    font-weight: 600;
    color: #3f1754;
}