.navbar {
    background: rgb(203, 161, 235);
    /*height: 100px;
    width: 120px; */
}

.navlinks a{
    
    font-family: fantasy;
    font-size: 18px;
    text-decoration: none;
    color:#296ac8
    
}

body {
    background: #160649;
}

h1{
    /*font-family: "Cormorant", serif;
    text-align: center;
    font-size: 5em;
    font-style: italic;
    color: rgb(146, 210, 245);*/
    color: #296ac8
}

.tester {
    font-family: "Cormorant", serif;
    text-align: right;
    font-size: 30px;
    color: rgb(146, 210, 245);
}

/*This is for the links underneath tester*/
.tester a{
    text-decoration: none;
    color: #296ac8;
}