:root{
    --nav-bg: #3f1754;
    --nav-link: #809bf7;
    --hover-colour: #f0f8ff;
    --webpage-bg: #160649;
    --heading-colour: #aeeaff;
    --text-colour: #9dd7f7;
    --footer: rgba(170, 140, 245, 0.3); 
    --bg-overlay:  rgba(22,6,73,0.6);
    --hover-yellow: #fceea7;
    --intro-overlay: rgba(170, 140, 245, 0.1);
    --card-bg: rgba(255, 255, 255, 0.05);
    --card-shadow: rgba(255, 2555, 225, 0.1);
}

/*placing the top of the blog posts inside a nice box?*/
.introContainer {
    background: var(--intro-overlay);
    border: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: var(--hover-colour);
    margin: 2rem;
    padding: 1rem;
}

/*Let's do a set colour for the headings*/
.p-name {
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: var(--text-colour);
}

.p-author h-card a {
    color: var(--nav-link);
    transition: color 0.5 ease;
}

.p-author h-card a:hover {
    color: var(--scrollbar-yellow);
}

.h-entry {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    color: var(--text-colour);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 2rem;
    padding: 1rem;
}

.h-entry a {
    color: var(--nav-link);
    font-weight: 600;
    text-decoration: none;
}

.h-entry a:hover {
    color: var(--hover-colour);
}

.h-entry time {
    font-style: italic;
    color: var(--scrollbar-yellow);
}

.h-entry .p-summary {
  margin-top: 15px;
  font-size: 1.1rem;
  color: var(--heading-colour) ; 
}

.p-summary {
    font-style: italic;
}

/*This is for the images within the paragraphs. Please work T^T*/
.pictextContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

figcaption {
    font-size: 16px;
    font-style: normal;
}

.u-photo {
    border-style: solid;
    border-width: 4px;
    border-radius: 4px;
    border-color: var(--hover-colour);
    transition: transform 0.3s ease;
}

.u-photo:hover {
    transform: scale(1.5);
}

/*something for the reference list. add a box around the whole thing*/
.refe {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    color: var(--text-colour);
    background: var(--intro-overlay);
    border: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: var(--hover-colour);
    margin: 2rem;
    padding: 1rem;
    
}

cite{
    font-style: normal;
}

.refe ul {
    list-style: square;
}

.refe a { /*FIX THE ITALICSSS*/
    font-style: none;
    color: var(--nav-link);
    text-decoration: none;
}

.refe a:hover {
    color: var(--scrollbar-yellow)
}

/*add something for the bottom navigation. put each thing in a box...*/
.bot-navi {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    color: var(--text-colour);
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.bot-navi a {
    color: var(--nav-link);
    text-decoration : none;
    background: var(--intro-overlay);
    border: solid;
    border-width: 2px;
    border-radius: 6px;
    border-color: var(--hover-colour);
    margin: 1rem;
    padding: 0.5rem;
}

.bot-navi a:hover {
    color: var(--scrollbar-yellow);
    /*color:#160649;
    background: linear-gradient(30deg, var(--hover-colour) , var(--scrollbar-yellow));
    animation: gradient 15s ease infinite;*/
}
