:root{
    --nav-bg: #3f1754;
    --nav-link: #809bf7;
    --hover-colour: #f0f8ff;
    --webpage-bg: #160649;
    --heading-colour: #aeeaff;
    --text-colour: #9dd7f7;
    --footer: rgba(170, 140, 245, 0.3); 
    --bg-overlay:  rgba(22,6,73,0.6);
    --hover-yellow: #fceea7;
}

/*page box shadow*/
.h-entry {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 2rem;
    padding: 1rem;
}

/*placing the top of the blog posts inside a nice box?*/
.introContainer {
    color: var(--text-colour);
    background: var(--intro-overlay);
    border: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: var(--hover-colour);
    margin: 2rem;
    padding: 1rem;
}

.introContainer a{
    text-decoration: none;
    color: var(--nav-link);
}

.introContainer a:hover {
    color: var(--hover-colour);
}

h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: var(--text-colour);
}

section {
    
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: var(--text-colour);
    margin: 1.3rem;
    padding: 0.7rem;
}
section ul {
    list-style-type: none;
    padding-left: 1.5em;
}

section li {
    position: relative;
    margin-bottom: 10px;
}

/* Custom star marker using ::before */
section li::before {
  content: "★"; 
  position: absolute;
  left: -1.5em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8em;
  color: var(--hover-yellow);
  animation: flash 8s infinite;
}

section a {
    color: var(--nav-link);
    font-weight: 600;
    list-style: square;
    text-decoration: none;
}

section a:hover {
    color: var(--hover-yellow);
}

/* Flashing animation */
@keyframes flash {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}