/* INDEX page CSS*/
/* Adding a root so that I can easily call the colours in each webpage. IDK HOW TO MAKE THEM WORK THOUGH!*/
:root{
    --nav-bg: #3f1754;
    --nav-link: #809bf7;
    --hover-colour: #f0f8ff;
    --webpage-bg: #160649;
    --heading-colour: #aeeaff;
    --text-colour: #9dd7f7;
    --footer: rgba(170, 140, 245, 0.3); 
    --bg-overlay:  rgba(22,6,73,0.6);
    --scrollbar-yellow: #fceea7;
}

.indexContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 2rem;
    padding: 1rem;
}

.tester {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: var(--text-colour);
}

/*This is for the links underneath tester*/
.tester a {
    text-decoration: none;
    font-family: "Patrick Hand", cursive;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--nav-link);
}

/*SOMETHING AS A MOCK CAROSUL*/
.fakeCaro {
    display: flex;

    flex-wrap: nowrap;
    overflow-x: 0 auto;
}


.links {
    display: flex;
    gap: 10px;
}