/* Adding a root so that I can easily call the colours in each webpage. IDK HOW TO MAKE THEM WORK THOUGH!*/
:root{
    --nav-bg: #3f1754;
    --nav-link: #809bf7;
    --hover-colour: #f0f8ff;
    --webpage-bg: #160649;
    --heading-colour: #aeeaff;
    --text-colour: #9dd7f7;
    --footer: rgba(170, 140, 245, 0.3); 
    --bg-overlay:  rgba(22,6,73,0.6);
    --scrollbar-yellow: #fceea7;
}

/*this is how I want the name of the website to be called*/
.site-title {
    font-size: 36px;
    font-family: "Indie Flower", cursive;
    text-align: left;
    color:#809bf7;
    line-height: 1.2;
    white-space: nowrap;
}

/* this is the logo for my website*/
.logo{
    width: 100px;
    height: auto;
    align-items: left;
}

.navbar {
    /*background: linear-gradient(to bottom, #3f1754, #663b85);*/
    background: #3f1754;
    font-family: "Patrick Hand", cursive;
    font-size: 22px;
    font-weight: 600;
    color: #f0f8ff;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/*Setting up the flexbox for the navbar...let's see if this works*/
.navlinks {
   display: flex; 
   gap: 25px;
   justify-content: centre;
   list-style: none;
   padding: 0;
   margin: 0;
}

/* Targeting the UL elements of the navbar*/
.navlinks ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
    margin: 0;
}

/* Aligning the items straight....*/
.navbar .navlinks {
    justify-content: space-between;
}

/* Removing the list of the unordered list (ul)*/
.navlinks ul li {
    list-style-type: none;
}

.navlinks a{
    font-family: "Patrick Hand", cursive;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color:#809bf7;   
    padding: 8px 12px;
    border-radius: 10px;
    /*transition: background-color 0.5 ease, color 0.5 ease;*/
    transition: color 0.5 ease;
}

/* IDK what this is for yet*/
/*.navbar .navlinks ul li {
    padding: 10px;
    margin: 0 10px;
}*/

/*Adding a hover effect to the buttons of the navbar*/
.navlinks a:hover {
   /* background-color: linear-gradient(to-right, #f0f8ff, #f1cbfe);*/
    color: #fceea7;
}

main {
    margin: 10px 0;
    padding: 80px;
    border-radius: 0;
}

/*Adding a subtle overlay because I lost the night sky colour!*/
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(22,6,73,0.6);
    z-index: -1;
}

/* Adding the starry background*/
body {
    background: #160649;
    /*Adding the image I made for the background*/
    background-image: url("../design/design-images/interactive-elements/background-example.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    /*I want a cursor in my website*/
    cursor: url(../images/cursor.png), auto;
}

/*idk if this will work, but LOL lets try*/
body a:hover, button:hover {
    cursor: url("../images/pointer.png"), pointer;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #aeeaff;
}

/*this is the styling for the footer*/
.ftr{
    background: rgba(170, 140, 245, 0.3);
   /* background: #6b8cf5;*/
    font-family: "Patrick Hand", cursive;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #f0f8ff;
    height: 100px;
}

/*Changing the scrollbar colors. Had to google this one*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #3f1754;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#809bf7, #fceea7);
    border-radius: 6px;
}

::-webkit-scrollbar:hover {
    background: linear-gradient(#fceea7, #fff7c1);
}


/*Setting up mobile responsiveness...IDK IF THIS WILL WORK*/
@media (max-width: 768px) {
    .navbar, .navlinks {
      flex-direction: column;
      align-items: center;
    }
  
    .site-title {
      text-align: center;
      font-size: 28px;
    }
  
    body {
      background-size: cover;
      background-position: top;
    }
  
    .tester {
      font-size: 18px;
    }
  }