:root{
    --nav-bg: #3f1754;
    --nav-link: #809bf7;
    --hover-colour: #f0f8ff;
    --webpage-bg: #160649;
    --heading-colour: #aeeaff;
    --text-colour: #9dd7f7;
    --footer: rgba(170, 140, 245, 0.3); 
    --bg-overlay:  rgba(22,6,73,0.6);
    --hover-yellow: #fceea7;
    --intro-overlay: rgba(170, 140, 245, 0.1);
}

/*page box shadow*/
.h-entry {
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
    margin: 2rem;
    padding: 1rem;
}

/*placing the top of the blog posts inside a nice box?*/
.introContainer {
    color: var(--text-colour);
    background: var(--intro-overlay);
    border: solid;
    border-width: 0.3125rem;
    border-radius: 0.3125rem;
    border-color: var(--hover-colour);
    margin: 2rem;
    padding: 1rem;
}

.h-entry .p-summary {
  margin-top: 0.94rem;
  font-size: 1.1rem;
  color: var(--heading-colour) ; 
}

.starSpic {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    font-style: italic;
}

h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--text-colour);
}

section {
    
    font-family: "Quicksand", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--text-colour);
    margin: 1.3rem;
    padding: 0.7rem;
}

section ul {
    list-style-type: none;
    padding-left: 1.5em;
}

.deco li {
    position: relative;
    margin-bottom: 0.625rem;
}

/* Custom star marker using ::before */
.deco li::before {
  content: "★"; 
  position: absolute;
  left: -1.5em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--hover-yellow);
  animation: flash 8s infinite;
}

section a {
    color: var(--nav-link);
    font-weight: 600;
    list-style: none;
    text-decoration: none;
}

section a:hover {
    color: var(--hover-yellow);
}

.linkBtns {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.25rem;
    align-items: flex-start;
}

.linkBtns li {
    list-style-type: none;
}

.linkBtns a {
    background: var(--intro-overlay);
    border: solid;
    border-width: 0.125rem;
    border-radius: 0.375rem;
    border-color: var(--hover-colour);
    margin: 1rem;
    padding: 0.5rem;
}

/* Flashing animation */
@keyframes flash {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
